@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Outline&display=swap");

.name {
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-size: 20rem;
}
